{% extends "base.html" %}

{% block title %}He log data download{% endblock %}

{% block head %}{{ super() }}{% endblock %}

{% block body %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li class="flash">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <h1>He log data download</h1>
        
    <h2>View by name ...</h2>

    <ul>
    {% for user in users %}
        <li>{{ user[1] }} [<a href="{{ url_for('report_html', restrict_by='user', id=user[0]) }}">html</a>] [<a href="{{ url_for('report_csv', restrict_by='user', id=user[0]) }}">csv file</a>] [<a href="{{ url_for('report_excel', restrict_by='user', id=user[0]) }}">Excel file</a>]</li>
    {% endfor %}
    </ul>

    <h2>View by meter ...</h2>

    <ul>
    {% for meter in meters %}
        <li>{{ meter[1] }} [<a href="{{ url_for('report_html', restrict_by='meter', id=meter[0]) }}">html</a>]  [<a href="{{ url_for('report_csv', restrict_by='meter', id=meter[0]) }}">csv file</a>] [<a href="{{ url_for('report_excel', restrict_by='meter', id=meter[0]) }}">Excel file</a>]</li>
    {% endfor %}
    </ul>

    <h2>View by transport dewar ...</h2>

    <ul>
    {% for transport_dewar in transport_dewars %}
        <li>{{ transport_dewar[1] }} [<a href="{{ url_for('report_html', restrict_by='transport_dewar', id=transport_dewar[0]) }}">html</a>]  [<a href="{{ url_for('report_csv', restrict_by='transport_dewar', id=transport_dewar[0]) }}">csv file</a>] [<a href="{{ url_for('report_excel', restrict_by='transport_dewar', id=transport_dewar[0]) }}">Excel file</a>]</li>
    {% endfor %}
    </ul>

    <h2>View by cryostat ...</h2>

    <ul>
    {% for cryostat in cryostats %}
        <li>{{ cryostat[1] }} [<a href="{{ url_for('report_html', restrict_by='cryostat', id=cryostat[0]) }}">html</a>]  [<a href="{{ url_for('report_csv', restrict_by='cryostat', id=cryostat[0]) }}">csv file</a>] [<a href="{{ url_for('report_excel', restrict_by='cryostat', id=cryostat[0]) }}">Excel file</a>]</li>
    {% endfor %}
    </ul>

{% endblock %}
