body {
    font-family: sans-serif;
    background: #eee;
}

a, h1, h2 {
    color: #377BA8;
}

h1, h2 {
    font-family: 'Georgia', serif;
}

h1 {
}

h2 {
}

ul.flashes {
    list-style-type: none;
    padding: 0px;
}

ul.flashes li.ok {
    background: #CEE5F5;
    padding: 0.5em;
    border: 1px solid #AACBE2;
}

ul.flashes li.error {
    background: #DD6666;
    padding: 0.5em;
    border: 1px solid #BB2222;
}

table.transfers {
    border: 1px solid #377BA8;
    background: #CEE5F5;
    border-collapse: collapse;
    width: 100%;
}

table.transfers th {
    color: #FFF;
    /*background: #377BA8;*/
    background: #478BB8;
    border: 1px solid #377BA8;
    padding: 2px;
}

table.transfers td {
    border: 1px solid #377BA8;
    padding: 2px;
}

table.layout {
    border: 0px;
}

ul.errors {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

ul.errors {
    background-image: url(bullet_error.png);
    background-repeat: no-repeat;
    background-position: 0px 2px; 
    padding-left: 16px; 
}
